/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.hand{
  height:auto;
  overflow: auto;
}

.interface{
  height:auto;
  overflow:auto;
  margin: 25px 0px;
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
}
.card{
  display: inline-block;
  height: 242.6669922pt;
  width: 167.0869141pt;
  margin: 10px;
}

body{
   background: green;
   text-align: center;
}


.rules {
  position: absolute;
  margin-top: -293px;
  margin-right: 80px;
  border-style: solid;
  border-width: 5px;
  text-align: left;
  width: 25%;
  height: 29.5%;

}

body h3 {
  margin-top: -5px;

}

.instructions {
  margin-top: -10px;
  list-style-position: inside;
  text-align: left;
  margin-left: 500px;
  margin-bottom: 100px;
}

h1 {
  font-weight: bold;
  font-size: 75px;
}


