 /* .App {
  text-align: center;
} */

 .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} 

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
} */

/* .App-intro {
  font-size: large;
} */ */
/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.main {
  width: 100vw;
  height: 100vh;
}

.info {
  margin-top: -20px;
  border: 5px solid black;
  /* list-style-position: inside; */
  text-align: left;
  background: white;
}
.rules {
  /* border: 1px solid black; */
  min-height: 20vh;
}

/* .instructions {
  border: 1px solid black;
  min-height: 50vh;
} */

.status{
  width: 60vh;
}
.wrapper {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.hand{
  height:auto;
  overflow: auto;
}

/* .interface{
  height:auto;
  overflow:auto;
  margin: 25px 0px;
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
}  */

.card{
  display: inline-block;
  height: 96px;
  width: 71px;
  margin-left: 10px;
  margin-top: 20px;
}


body{
   background: green;
   text-align: center;
   /* overflow-y: hidden; */
}
h1 {
  font-weight: bold;
  font-size: 50px;
}






